[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule "SQLUtilities"]
	path = bundle/SQLUtilities
	url = https://github.com/vim-scripts/SQLUtilities
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-plugins"]
	path = bundle/vim-airline-plugins
	url = https://github.com/vim-airline/vim-airline-plugins
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
